<% content_for :title, "Locked Savings Percentage" %>

<div class="container">
<div id="app_configs">
  
    <%= render "app_configs/app_config" %>
    
</div>

<%= link_to "New Locked Savings Percentage", new_app_config_path, class:"btn btn-success btn-sm " %>
</div>
