<div class="container">
  
<% content_for :title, "Editing employee" %>

<%= render "form", employee: @employee %>

<br>

<div>
  <%= link_to "Back", employees_path, class:"btn btn-primary btn-sm" %>
</div>
</div>
