<h1>Payroll Report</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Month</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% @payrolls.each do |payroll| %>
      <tr>
        <td><%= payroll.employee.name %></td>
        <td><%= payroll.period.strftime("%B %Y") %></td>
        <td><%= number_to_currency(payroll.amount) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
