<% content_for :title, "Editing advance" %>

<h1>Editing advance</h1>

<%= render "form", advance: @advance %>

<br>

<div>
  <%= link_to "Show this advance", @advance %> |
  <%= link_to "Back to advances", advances_path %>
</div>
