<div class="container mt-4">

<% content_for :title, "Advances" %>

<div id="advances">
  
    <%= render "advances/advance" %>
</div>

<%= link_to "New advance", new_advance_path, class:"btn btn-success btn-sm" %>
</div>
