<p style="color: green"><%= notice %></p>

<% content_for :title, "Advances" %>

<h1>Advances</h1>

<div id="advances">
  
    <%= render "advances/advance" %>
</div>

<%= link_to "New advance", new_advance_path %>
