<div class="container mt-4">
<% content_for :title, "New advance" %>

<%= render "form", advance: @advance %>

<br>

<div>
  <%= link_to "Back", advances_path, class:"btn btn-primary btn-sm" %>
</div>
</div>
