<div class="alert alert-info alert-dismissible fade show" role="alert" auto-close="5000" style="max-width: 25rem;">
  <span style="color:black"><%= notice %></span>
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>