<% content_for :title, "Editing saving" %>

<div class="container">
<%= render "form", saving: @saving %>

<br>

<div>
  <%= link_to "Back to savings", savings_path, class:"btn btn-primary btn-sm" %>
</div>
</div>
