<% content_for :title, "Editing loan repayment" %>

<div class="container">
<%= render "form", loan_repayment: @loan_repayment %>

<br>

<div>
  <%= link_to "Show this loan repayment", @loan_repayment, class: "btn btn-warning btn-sm" %> |
  <%= link_to "Back to loan repayments", loan_repayments_path, class: "btn btn-primary btn-sm" %>
</div>
</div>