<% content_for :title, "Editing loan" %>

<div class="container">
<%= render "form", loan: @loan %>

<br>

<div>
  <%= link_to "Back to loans", loans_path, class:"btn btn-primary btn-sm" %>
</div>
</div>
