
.text-red {
  color: red;
  font-weight: bold;
}

.text-green {
  color: green;
  font-weight: bold;
}

.text-blue {
  color: blue;
  font-weight: bold;
}

  .selected-attendance {
    background-color: #d4edda !important; /* light green */
    transition: background-color 0.3s ease;
  }

  .sunday-cell {
    color: red !important;
  }

  .sunday-header {
    color: red !important;
  }

