<div class="container">
  
<% content_for :title, "Sites" %>

<div id="sites">
  
    <%= render "sites/site" %>
    
</div>

<%= link_to "New site", new_site_path, class:"btn btn-success btn-sm" %>
</div>