<% @grouped_attendances.each do |date, date_attendances| %>
  <h4><%= date.strftime("%d-%b-%Y") %></h4>

  <% date_attendances.group_by(&:site).each do |site, site_attendances| %>
    <h5 style="margin-left: 20px;">Site: <%= site&.name || "No Site" %></h5>

    <table class="table table-bordered" style="margin-left: 40px;">
      <thead>
        <tr>
          <th>Employee</th>
          <th>Other Info</th>
        </tr>
      </thead>
      <tbody>
        <% site_attendances.group_by(&:employee).each do |employee, employee_attendances| %>
          <tr>
            <td><%= employee&.full_name || "No Employee" %></td>
            <td>
              <!-- You can loop through employee_attendances if needed -->
              Present
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
<% end %>
